<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'static/home.css' %}"/>
    <meta charset="utf-8"/>
</head>
<section>
    <div class="header-items">
        <div class="header-item-logo">
            <a href="/">logo</a>
        </div>
        <div class="header-item-search">search</div>
        <div class="header-item-exacpro">
            <div class="header-item-ex">
                <a href="/explore/">ex</a>
            </div>
            <div class="header-item-ac">
                <a href="/users/activity">activity</a>
            </div>
            <div class="header-item-pro">
                <a href="/{{user.username}}">profile</a>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</section>