<!doctype html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/sign_in.css' %}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <div>
        {% block content %}
        
        <div class="wrapper-land">
            <div class="land-phones">
                <img class="img-land" src="{% static 'images/land-page-iphone.png' %}"/>
            </div>
            <div class="sign-in">
                <h1 class="instagram-h1">Instagram</h1>
                <button type="submit" class="btn-common">Entrar com facebook</button><br/>
                <p style="text-align: center; margin:auto;">OU</p>
                <form action="" method="POST"> {% csrf_token %}
                    <h2 class="landing-p-text" style="text-align: center;">Cadastre-se para ver fotos e vídeos dos seus amigos.</h2>
                    {{ form.as_p }}
                    <button type="submit" class="btn-common">Cadastre-se</button>
                    <p class="landing-p-text">
                        Ao se cadastrar, 
                        você concorda com nossos Termos, 
                        Política de Dados e Política de Cookies.
                    </p>
                </form>
            </div>
            <a class="footer" href="/login">login</a>
        </div>
        {% endblock %}
        
    </div>
</body>
</html>